/*表单*/
.form-page .form-row{
  margin: 10px 15px;
}

.form-row input{
  background-color: #fff;
  border-radius: 5px;
  height: 44px;
  padding-left:12px;
  color: #222;
  display: block; 
  width: 100%;
  font-size: 18px;
}

.form-row input::-webkit-input-placeholder{
  font-size: 15px;
}

.form-row .l,.form-row .r{
  width: 49%;
}

.avatar-block{
  height: 120px;
  position: relative;
}

.avatar-block .avatar-box{
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform:translate(-50%,-50%);
  width: 80px;
  height: 80px;
}

